.sleep-box {
  margin-bottom: 10px;
  padding: 10px;
  background: #f1f1f1;
  border-radius: 6px;
}

input, select {
  padding: 8px;
  width: 200px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background: #6c5ce7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
