body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

p{
    text-align: center;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 60%;
 }

 td {
    padding: 15px;
    text-align: left;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 15px auto;
    cursor: pointer;
    border-radius: 10px;
    display: block;
}

button:hover {
    background-color: gray;
}

#result {
    font-weight: bold;
    margin-top: 10px;
}
