.tracker-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

.card {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  cursor: pointer;
  flex: 1 1 150px;
  text-align: center;
  transition: all 0.2s;
}

.card:hover {
  background-color: #e0e0e0;
}

.card.active {
  background-color: #007BFF;
  color: white;
  font-weight: bold;
}

.selected-trackers {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

