.navbar {
  background: #1e73be;
  padding: 15px 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
  padding: 0;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: white;
}

.profile-container {
  padding: 20px;
  font-family: Poppins, sans-serif;
}



