table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  align-items: center;
}

th, td {
  padding: 15px;
}

h1 {
  text-align: center;
}

button {
  border: none;
  color: white;
  background-color: black;
  padding: 10px 22px;
  text-align: center;
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 10px;
  display: block;
}

.content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  align-items: center;
}
